$dark: #0f152d;
$white: #f1f2fa;
$red: #fa8a8a;
$green: #a6d89b;
$beige: #ecbfa0;

.tableHeader {
  background-color: $red;

  th {
    font-weight: bold;
    color: $dark;
  }
}

.tableBody {
  span {
    font-size: 22px;
    margin: 0px 8px;
    color: $dark;

    &:hover {
      color: $red;
      cursor: pointer;
    }
  }
}

.infoBox {
  display: flex;

  div {
    margin-right: auto;
  }

  button {
    display: block;
  }
}

.kundeBtn {
  padding: 8px 28px;
  margin-right: 10px;
  border: none;
  border-radius: none;
  outline: none;

  font-size: 18px;
  background-color: $beige;
  color: $dark;
  font-weight: bold;

  &:hover {
    background-color: $red;
    cursor: pointer;
  }
}
